/* 
	Dark 0f0f0f
	Light efffc8
	Main 63b297
	Highlight ffba49
	Neutral 7e9181
	
	332424
	efffc8
	63b297
	ffba49
	de541e
 */
 
.col-sm-4, .col-sm-6, .col-sm-2, .col-sm-8, .col-sm-10 {
	margin: 25px 0;
}
 
 body{
	 position: relative;
 }
 
 .vcenter{
	height: auto%;
/* 	margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)	  */
 }
 
.navbar{
	 margin-bottom: 0;
 }
 
.header-wrap{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
 }

.header{
	 color: white;
	 height:80vh;
	 background-image: url('world-map-transparent.svg');
	 background-color: #63b297;
 }
  
.btn-sm{
	background-color: #de541e;
	border: none;
	border-radius: 20px;
	font-size: 12px;
	padding: 10px;
	margin: 0 auto;
	color: white;
 }
 
.btn-lg{
	background-color: #de541e;
	border: none;
	border-radius: 30px;
	font-size: 18px;
	padding: 15px;
	color: white;
}

.btn {
	background-color: #de541e;
	border: none;
	color: white;
}

.btn:hover{
	background-color: #b44418;
	box-shadow: 2px 2px 5px #333333;
	color: white;
}

.btn:focus{
	outline: none;
	color: white;
}

.nav>li>.pill {
	background-color:#de541e;
	color: white;
}

.nav>li>.pill:active{
	background-color: #b44418;
}

.nav>li>.pill:hover,
.nav>li>.pill:focus,
.nav>li.active>.pill {
	background-color: #b44418 !important;
}

.bg-grey1{
	background: #ddeee8;
}

.bg-grey2{
	background: #d9d9d9;
}

.bg-grey3{
	background: #bfbfbf;
}

.textblock{
	height: inherit;
}

.white-text{
	color: white;
}
/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
	width:auto;
}

header {
	height:280px;
    background-color:#eee;
}

.htext{
	margin-top: 0;
	color: white;
}

.affix {
	top: 0;
    width: 100%;
	z-index: 10;
}

.affix + .container-fluid {
    padding-top: 70px;
}

/* Circle formatting */
.circle-cell{
	width: 50vh;
	height: 50vh;
	text-align: center;
	margin: 0 auto;
	border-radius: 25vh;
	color: white;
	background-color: #ffba49;
}

.circle{
	margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.circle h3{
	margin: 0px;
}

/* .circle-cell:hover{
	background-color: #ffa71a;
}
 */
.bubble-row{
	padding: 5vh;
}

.headshot{
	width: 100%;
}

footer {
	background-color: #332424;
	color: white;
}

footer a {
	color:white;
}

footer a:hover {
	color: #d9d9d9;
	text-decoration: none;
}

.navbar {
	margin-bottom: 0;
	background-color: #332424;
	border: 0;
	border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
	color: white !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a{
	color: #332424 !important;
	background-color: #ebe0e0 !important;
}

.navbar-default .navbar-toggle{
	border-color: transparent;
	color: #332424 !important;
}

#this_is_the_problem{
	font-size: 18px;
}

.icon-big{
	font-size: 36px;
}
